<div class="hd">
    <h1 class="page-title">ActionSheet</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="weui-btn weui-btn-primary" id="showActionSheet">点击上拉ActionSheet</a>
</div>
<!--BEGIN actionSheet-->
<div id="actionSheet-wrap">
    <div class="weui-mask-transition" id="mask"></div>
    <div class="weui-actionsheet" id="weui-actionsheet">
        <div class="weui-actionsheet-menu">
            <div class="weui-actionsheet-cell">示例菜单</div>
            <div class="weui-actionsheet-cell">示例菜单</div>
            <div class="weui-actionsheet-cell">示例菜单</div>
            <div class="weui-actionsheet-cell">示例菜单</div>
        </div>
        <div class="weui-actionsheet-action">
            <div class="weui-actionsheet-cell" id="actionsheet-cancel">取消</div>
        </div>
    </div>
</div>
<!--END actionSheet-->
