<div class="hd">
    <h1 class="page-title">Button</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="weui-btn weui-btn-primary">按钮</a>
    <a href="javascript:;" class="weui-btn weui-btn-disabled weui-btn-primary">按钮</a>
    <a href="javascript:;" class="weui-btn weui-btn-warn">确认</a>
    <a href="javascript:;" class="weui-btn weui-btn-disabled weui-btn-warn">确认</a>
    <a href="javascript:;" class="weui-btn weui-btn-default">按钮</a>
    <a href="javascript:;" class="weui-btn weui-btn-disabled weui-btn-default">按钮</a>
    <div class="button-sp-area">
        <a href="javascript:;" class="weui-btn weui-btn-plain-default">按钮</a>
        <a href="javascript:;" class="weui-btn weui-btn-plain-primary">按钮</a>

        <a href="javascript:;" class="weui-btn weui-btn-mini weui-btn-primary">按钮</a>
        <a href="javascript:;" class="weui-btn weui-btn-mini weui-btn-default">按钮</a>
    </div>
</div>
