<div class="hd">
    <h1 class="page-title">WeUI</h1>
    <p class="page-desc">为微信Web服务量身设计</p>
</div>
<div class="bd">
    <div class="weui-grids">
        <a href="#/button" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-button"></i>
            </div>
            <p class="weui-grid-label">
                Button
            </p>
        </a>
        <a href="#/cell" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-cell"></i>
            </div>
            <p class="weui-grid-label">
                Cell
            </p>
        </a>
        <a href="#/toast" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-toast"></i>
            </div>
            <p class="weui-grid-label">
                Toast
            </p>
        </a>
        <a href="#/dialog" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-dialog"></i>
            </div>
            <p class="weui-grid-label">
                Dialog
            </p>
        </a>
        <a href="#/progress" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-progress"></i>
            </div>
            <p class="weui-grid-label">
                Progress
            </p>
        </a>
        <a href="#/msg" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-msg"></i>
            </div>
            <p class="weui-grid-label">
                Msg
            </p>
        </a>
        <a href="#/article" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-article"></i>
            </div>
            <p class="weui-grid-label">
                Article
            </p>
        </a>
        <a href="#/actionsheet" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-actionSheet"></i>
            </div>
            <p class="weui-grid-label">
                ActionSheet
            </p>
        </a>
        <a href="#/icons" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-icons"></i>
            </div>
            <p class="weui-grid-label">
                Icons
            </p>
        </a>
        <a href="#/panel" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-panel"></i>
            </div>
            <p class="weui-grid-label">
                Panel
            </p>
        </a>
        <a href="#/tab" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-tab"></i>
            </div>
            <p class="weui-grid-label">
                Tab
            </p>
        </a>
        <a href="#/searchbar" class="weui-grid">
            <div class="weui-grid-icon">
                <i class="icon icon-search-bar"></i>
            </div>
            <p class="weui-grid-label">
                SearchBar
            </p>
        </a>
    </div>
</div>
