<div class="hd">
    <h1 class="page-title">Icons</h1>
</div>
<div class="bd spacing">
    <i class="weui-icon-msg weui-icon-success"></i>
    <i class="weui-icon-msg weui-icon-info"></i>
    <i class="weui-icon-msg weui-icon-warn"></i>
    <i class="weui-icon-msg weui-icon-waiting"></i>
    <i class="weui-icon-safe weui-icon-safe-success"></i>
    <i class="weui-icon-safe weui-icon-safe-warn"></i>
    <div class="icon-sp-area">
        <i class="weui-icon-success"></i>
        <i class="weui-icon-success-circle"></i>
        <i class="weui-icon-success-no-circle"></i>
        <i class="weui-icon-info"></i>
        <i class="weui-icon-waiting"></i>
        <i class="weui-icon-waiting-circle"></i>
        <i class="weui-icon-circle"></i>
        <i class="weui-icon-warn"></i>
        <i class="weui-icon-download"></i>
        <i class="weui-icon-info-circle"></i>
        <i class="weui-icon-cancel"></i>
        <i class="weui-icon-search"></i>
        <i class="weui-icon-clear"></i>
    </div>
</div>
