<div class="weui-msg">
    <div class="weui-icon-area"><i class="weui-icon-success weui-icon-msg"></i></div>
    <div class="weui-text-area">
        <h2 class="weui-msg-title">操作成功</h2>
        <p class="weui-msg-desc">内容详情，可根据实际需要安排</p>
    </div>
    <div class="weui-opr-area">
        <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn-primary">确定</a>
            <a href="javascript:;" class="weui-btn weui-btn-default">取消</a>
        </p>
    </div>
    <div class="weui-extra-area">
        <a href="">查看详情</a>
    </div>
</div>
