<div class="hd">
    <h1 class="page-title">Progress</h1>
</div>
<div class="bd spacing">
    <div class="weui-progress">
        <div class="weui-progress-bar">
            <div class="weui-progress-inner-bar js-progress" style="width: 0%;"></div>
        </div>
        <a href="javascript:;" class="weui-progress-opr">
            <i class="weui-icon-cancel"></i>
        </a>
    </div>
    <br>
    <div class="weui-progress">
        <div class="weui-progress-bar">
            <div class="weui-progress-inner-bar js-progress" style="width: 50%;"></div>
        </div>
        <a href="javascript:;" class="weui-progress-opr">
            <i class="weui-icon-cancel"></i>
        </a>
    </div>
    <br>
    <div class="weui-progress">
        <div class="weui-progress-bar">
            <div class="weui-progress-inner-bar js-progress" style="width: 80%;"></div>
        </div>
        <a href="javascript:;" class="weui-progress-opr">
            <i class="weui-icon-cancel"></i>
        </a>
    </div>
    <div class="weui-btn-area">
        <a href="javascript:;" class="weui-btn weui-btn-primary" id="btnStartProgress">上传</a>
    </div>
</div>
