<div class="hd">
    <h1 class="page-title">searchBar</h1>
</div>
<div class="bd">
    <!--<a href="javascript:;" class="weui-btn weui-btn-primary">点击展现searchBar</a>-->
    <div class="weui-search-bar" id="search-bar">
        <form class="weui-search-outer">
            <div class="weui-search-inner">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-input" id="search-input" placeholder="搜索" required/>
                <a href="javascript:" class="weui-icon-clear" id="search-clear"></a>
            </div>
            <label for="search-input" class="weui-search-text" id="search-text">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-cancel" id="search-cancel">取消</a>
    </div>
    <div class="weui-cells weui-cells-access search-show" id="search-show">
        <div class="weui-cell">
            <div class="weui-cell-bd weui-cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell-bd weui-cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell-bd weui-cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell-bd weui-cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
    </div>
</div>
