<div class="bd">
    <div class="weui-cells-title">Tab</div>
    <div class="weui-cells weui-cells-access">
        <a class="weui-cell" href="#/navbar">
            <div class="weui-cell-bd weui-cell-primary">
                <p>navbar</p>
            </div>
            <div class="weui-cell-ft">
            </div>
        </a>
        <a class="weui-cell" href="#/tabbar">
            <div class="weui-cell-bd weui-cell-primary">
                <p>tabbar</p>
            </div>
            <div class="weui-cell-ft">
            </div>
        </a>
    </div>
</div>
