<div class="weui-tab">
    <div class="weui-tab-bd">

    </div>
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar-item weui-bar-item-on">
            <div class="weui-tabbar-icon">
                <img src="./images/icon-nav-button.png" alt="">
            </div>
            <p class="weui-tabbar-label">微信</p>
        </a>
        <a href="javascript:;" class="weui-tabbar-item">
            <div class="weui-tabbar-icon">
                <img src="./images/icon-nav-msg.png" alt="">
            </div>
            <p class="weui-tabbar-label">通讯录</p>
        </a>
        <a href="javascript:;" class="weui-tabbar-item">
            <div class="weui-tabbar-icon">
                <img src="./images/icon-nav-article.png" alt="">
            </div>
            <p class="weui-tabbar-label">发现</p>
        </a>
        <a href="javascript:;" class="weui-tabbar-item">
            <div class="weui-tabbar-icon">
                <img src="./images/icon-nav-cell.png" alt="">
            </div>
            <p class="weui-tabbar-label">我</p>
        </a>
    </div>
</div>
