<div class="hd">
    <h1 class="page-title">Toast</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="weui-btn weui-btn-primary" id="showToast">点击弹出Toast</a>
    <a href="javascript:;" class="weui-btn weui-btn-primary" id="showLoadingToast">点击弹出Loading Toast</a>
</div>
<!--BEGIN toast-->
<div id="toast" style="display: none;">
    <div class="weui-mask-transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-toast"></i>
        <p class="weui-toast-content">已完成</p>
    </div>
</div>
<!--end toast-->

<!-- loading toast -->
<div id="loadingToast" class="weui-loading-toast" style="display:none;">
    <div class="weui-mask-transparent"></div>
    <div class="weui-toast">
        <div class="weui-loading">
            <div class="weui-loading-leaf weui-loading-leaf-0"></div>
            <div class="weui-loading-leaf weui-loading-leaf-1"></div>
            <div class="weui-loading-leaf weui-loading-leaf-2"></div>
            <div class="weui-loading-leaf weui-loading-leaf-3"></div>
            <div class="weui-loading-leaf weui-loading-leaf-4"></div>
            <div class="weui-loading-leaf weui-loading-leaf-5"></div>
            <div class="weui-loading-leaf weui-loading-leaf-6"></div>
            <div class="weui-loading-leaf weui-loading-leaf-7"></div>
            <div class="weui-loading-leaf weui-loading-leaf-8"></div>
            <div class="weui-loading-leaf weui-loading-leaf-9"></div>
            <div class="weui-loading-leaf weui-loading-leaf-10"></div>
            <div class="weui-loading-leaf weui-loading-leaf-11"></div>
        </div>
        <p class="weui-toast-content">数据加载中</p>
    </div>
</div>
