/**_init Start**/
$line-color: #E5E5E5;
$gray-color: #999999;

.weui-media-box {
  padding: 15px;
  position: relative;
  &:before {
    @include set-top-line($line-color);
    left: 15px;
  }
  &:first-child {
    &:before {
      display: none
    }
  }



  .weui-media-title {
    font-weight: 400;
    font-size: 17px;
    @include ellipsis();
    word-wrap: break-word;
    word-break: break-all;
  }
  .weui-media-desc {
    color: $gray-color;
    font-size: 13px;
    line-height: 1.2;
    @include ellipsis-ln(2);
  }

  &.weui-media-text {
    .weui-media-title {
      margin-bottom: 8px;
    }
    .weui-media-info {
      margin-top: 15px;
      padding-bottom: 5px;
      font-size: 13px;
      color: #CECECE;
      line-height: 1em;
      list-style: none;
      overflow: hidden;
    }
    .weui-media-info-meta {
      float: left;
      padding-right: 1em;
      &.weui-media-info-meta-extra {
        padding-left: 1em;
        border-left: 1px solid #CECECE;
      }
    }

  }
  &.weui-media-appmsg {
    display: flex;
    align-items: center;
    .weui-media-hd {
      margin-right: .8em;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
    }
    .weui-media-appmsg-thumb {
      width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    .weui-media-bd {
      flex: 1;
      min-width: 0;
    }
  }
  &.weui-media-small-appmsg {
    padding: 0;
    .weui-cells {
      margin-top: 0;
      &:before {
        display: none;
      }
    }
    .weui-cells-access {
    }
  }
}

a.weui-media-box{
  color:#000000;
  @include set-tap-color();
  &:active{
    background-color:#ECECEC;
  }
}
/**_init  End**/
