/**weui--dialog Start**/
$weui-dialog-background-color: #FAFAFC;
$weui-dialog-line-color: #D5D5D6;
$weui-dialog-link-color: #3CC51F;
$weui-dialog-link-active-bg: #EEEEEE;

.weui-dialog {
  position: fixed;
  z-index: 13;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $weui-dialog-background-color;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  .weui-dialog-confirm & {
    .weui-dialog-hd {
      padding: 1.2em 20px .5em;
    }
    .weui-dialog-bd {
      text-align: left;
    }
  }
}

.weui-dialog-hd {
  padding: 1.2em 0 .5em;
}

.weui-dialog-title {
  font-weight: 400;
  font-size: 17px;
}

.weui-dialog-bd {
  padding: 0 20px;
  font-size: 15px;
  color: $global-text-color;
  word-wrap: break-word;
  word-break: break-all;
}

.weui-dialog-ft {
  position: relative;
  line-height: 42px;
  margin-top: 20px;
  font-size: 17px;
  display: flex;
  a {
    display: block;
    flex: 1;
    color: $weui-dialog-link-color;
    text-decoration: none;
    @include set-tap-color();
    &:active {
      background-color: $weui-dialog-link-active-bg;
    }
  }
  &:after {
    content: " ";
    @include set-top-line($weui-dialog-line-color);
  }
  .weui-dialog-confirm & {
    a {
      position: relative;
      &:after {
        content: " ";
        @include set-left-line($weui-dialog-line-color);
      }
      &:first-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.weui-btn-dialog {
  &.default {
    color: #353535;
  }
  &.primary {
    color: #0BB20C;
  }
}

@media screen and (min-width: 1024px) {
  .weui-dialog {
    width: 35%;
  }
}
/**weui--dialog  End**/
