/**weui-tabbar Start**/
.weui-tabbar {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f7f7fa;

  &:before {
    @include set-top-line(#979797);
  }
}

.weui-tabbar-item {
  display: block;
  flex: 1;
  padding: 7px 0 0;
  -webkit-tap-highlight-color: transparent;

  &.weui-bar-item-on {
    .weui-tabbar-label {
      color: #09BB07;
    }
  }
}

.weui-tabbar-icon {
  margin: 0 auto;
  width: 24px;
  height: 24px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  & + .weui-tabbar-label {
    margin-top: 5px;
  }
}

.weui-tabbar-label {
  text-align: center;
  color: $global-text-color;
  font-size: 12px;
}
/**weui-tabbar  End**/
