/**monokai Start**/
$monokai-caret: #F8F8F0;
$monokai-green: #A6E22E;
$monokai-orange: #FD971F;
$monokai-blue: #66D9EF;
$monokai-red: #F92672;
$monokai-purple: #AE81FF;
$monokai-brown: #E6DB74;
$monokai-find-highlight: #FFE792;
$monokai-line-highlight: #3E3D32;
$monokai-selection: #49483E;
$monokai-bg: #272822;
/**monokai  End**/
