/**weui-progress Start**/

$weui-progress-bg: #EBEBEB;
$weui-progress-color: #09BB07;
$weui-progress-height: 3px;
$weui-progress-close-bg: #EF4F4F;
$weui-progress-active-bg: #C13E3E;

/**weui-progress  End**/
