/**weui-cell Start**/
$weui-cell-bg: #FFFFFF;
$weui-cell-border-color: #D9D9D9;
$weui-cell-gap-v: 10px;
$weui-cell-gap-h: 15px;
$weui-cell-inner-gap-h: .35em;
$weui-cell-label-width: 105px;

$weui-cell-height: 44px;
$weui-cell-font-size: 17px;
$weui-cell-tips-font-size: 14px;

$weui-cell-line-height: ($weui-cell-height - 2 * $weui-cell-gap-v) / $weui-cell-font-size; // 高度为44px，减去上下padding的行高
$weui-cells-margin-top: 20 / ($weui-cell-font-size / ($weui-cell-font-size * 0 + 1)) + em;
/**weui-cell  End**/
