/**weui-button Start**/
$weui-btn-default-gap:15px;
$weui-btn-height:42px;
$weui-btn-mini-height:1.9;
$weui-btn-font-size:18px;
$weui-btn-font-color:#FFFFFF;
$weui-btn-disabled-fontColor:rgba(255,255,255,.6);
$weui-btn-active-font-color:rgba(255,255,255,.4);
$weui-btn-mini-font-size:14px;
$weui-btn-border-radius:5px;

$weui-btn-default-bg:#F7F7F7;
$weui-btn-default-active-bg:#DEDEDE;
$weui-btn-default-font-color:#454545;
$weui-btn-default-disabled-font-color:#C9C9C9;
$weui-btn-default-active-font-color:#A1A1A1;

$weui-btn-primary-bg:#04BE02;
$weui-btn-primary-active-bg:#039702;

$weui-btn-warn-bg:#EF4F4F;
$weui-btn-warn-active-bg:#C13E3E;
/**weui-button  End**/
