/**_init Start**/
$line-color: #E5E5E5;
$gray-color: #999999;

.weui_panel {
  background-color: #FFFFFF;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }

  position: relative;
  overflow: hidden;
  &:before {
    @include set-top-line($line-color);
  }
  &:after {
    @include set-bottom-line($line-color);
  }
}

.weui_panel_hd {
  padding: 14px 15px 10px;
  color: $gray-color;
  font-size: 13px;
  position: relative;
  &:after {
    @include set-bottom-line($line-color);
    left: 15px;
  }
}

.weui_panel_ft {
  padding: 10px 15px 12px;
  color: $gray-color;
  font-size: 14px;
  position: relative;
  &:before {
    @include set-top-line($line-color);
    left: 15px;
  }
  .weui_panel_access & {
    display: block;
    color: #586C94;
    @include set-tap-color();
    &:active{
      background-color:#ECECEC;
    }
    &:after {
      content: " ";
      @include set-arrow-wrap(right, 6px, #C7C7CC, 2px);
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -4px;
    }
  }
}

/**_init  End**/
