/**weui-select Start**/

.weui-cell-select {
  padding: 0;
  .weui-select {
    padding-right: 30px;
  }
  .weui-cell-bd{
    &:after{
      content: " ";
      .setArrow(right, 6px, #C8C8CD, 2px);

      position: absolute;
      top: 50%;
      right: $weui-cell-gap-h;
      margin-top: -4px;
    }
  }
}

.weui-select {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  font-size: inherit;
  height: $weui-cell-height;
  line-height: $weui-cell-height;
  position: relative;
  z-index: 1;
  padding-left: $weui-cell-gap-h;
}

.weui-cell-select-before {
  padding-right:$weui-cell-gap-h;
  .weui-select{
    width:$weui-cell-label-width;
    box-sizing: border-box;
  }
  .weui-cell-hd {
    position:relative;
    &:after {
      @include set-right-line($weui-cell-border-color);
    }
    &:before{
      content: " ";
      .setArrow(right, 6px, #C8C8CD, 2px);

      position: absolute;
      top: 50%;
      right: $weui-cell-gap-h;
      margin-top: -4px;
    }
  }
  .weui-cell-bd {
    padding-left:$weui-cell-gap-h;
    &:after{
      display:none;
    }
  }
}

.weui-cell-select-after {
  padding-left:$weui-cell-gap-h;
  .weui-select {
    padding-left:0;
  }
}
/**weui-select  End**/
