/**weui-cell-global Start**/

/*
z-index:
0: .weui-swiped-btn
1: .weui-cell-swiped .weui-cell-bd
2: .weui-cells和.weui-cell的1px线
*/

.weui-cells {
  margin-top: $weui-cells-margin-top;
  background-color: $weui-cell-bg;
  line-height: $weui-cell-line-height;
  font-size: $weui-cell-font-size; //cell中间有效高度23px，跟客户端默认图标尺寸一致

  overflow: hidden; //因为每个cell的border使用before元素left搞的，ie下伪元素的containing block估计跟标准不同，在cell上用oh不生效

  // onepx
  position: relative;
  &:before {
    @include set-top-line($weui-cell-border-color);
    z-index: 2;
  }
  &:after {
    @include set-bottom-line($weui-cell-border-color);
    z-index: 2;
  }
}

.weui-cells__title {
  margin-top: .77em; // 15px - 行高
  margin-bottom: .3em; // 8px - 行高
  padding-left: $weui-cell-gap-h;
  padding-right: $weui-cell-gap-h;
  color: $weui-text-color-gray;
  font-size: $weui-cell-tips-font-size;

  & + .weui-cells {
    margin-top: 0;
  }
}

.weui-cells__tips {
  margin-top: .3em; // 8px - 行高
  color: $weui-text-color-gray;
  padding-left: $weui-cell-gap-h;
  padding-right: $weui-cell-gap-h;
  font-size: $weui-cell-tips-font-size;
}

.weui-cell {
  padding: $weui-cell-gap-v $weui-cell-gap-h;
  position: relative; //这个是为了兼容cells容器onepx方案被before挡住而做的
  display: flex;
  align-items: center;
  &:before {
    @include set-top-line($weui-cell-border-color);
    left: $weui-cell-gap-h;
    z-index: 2;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
}
.weui-cell_primary{
  align-items: flex-start;
}
.weui-cell__bd{
  flex: 1;
}
.weui-cell__ft {
  text-align: right;
  color: $weui-text-color-gray;
}
/**weui-cell-global  End**/
