/**weui-gallery Start**/

.weui-gallery {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  z-index: 1000;
}
.weui-gallery-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: $weui-gallery-opr-height;
  left: 0;
  background: center center no-repeat;
  background-size: contain;
}
.weui-gallery-opr {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0D0D0D;
  color: #FFFFFF;
  line-height: $weui-gallery-opr-height;
  text-align: center;
}
.weui-gallery-del {
  display: block;
}
/**weui-gallery  End**/
