/**weui-uploader Start**/

.weui-uploader{}
.weui-uploader__hd{
  display: flex;
  padding-bottom: $weui-cell-gap-v;
  align-items: center;
}
.weui-uploader__title{
  flex: 1;
}
.weui-uploader__info{
  color: $weui-text-color-tips;
}

.weui-uploader__bd{
  margin-bottom: $weui-cell-gap-h - ($weui-cell-gap-v + $weui-uploader-file-spacing);
  margin-right: -$weui-uploader-file-spacing;
  overflow: hidden;
}
.weui-uploader__files{
  list-style: none;
}
.weui-uploader__file{
  float: left;
  margin-right: $weui-uploader-file-spacing;
  margin-bottom: $weui-uploader-file-spacing;
  width: $weui-uploader-size;
  height: $weui-uploader-size;
  background: no-repeat center center;
  background-size: cover;
}
.weui-uploader__file_status{
  position: relative;
  &:before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
  }
  .weui-uploader__file-content{
    display: block;
  }
}
.weui-uploader__file-content{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  .weui-icon-warn{
    display: inline-block;
  }
}
.weui-uploader__input-box{
  float:left;
  position: relative;
  margin-right: $weui-uploader-file-spacing;
  margin-bottom: $weui-uploader-file-spacing;
  width: $weui-uploader-size - $weui-uploader-border-width * 2;
  height: $weui-uploader-size - $weui-uploader-border-width * 2;
  border: $weui-uploader-border-width solid $weui-uploader-border-color;
  &:before, &:after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $weui-uploader-border-color;
  }
  &:before{
    width: $weui-uploader-border-width + 1;
    height: $weui-uploader-size / 2;
  }
  &:after{
    width: $weui-uploader-size / 2;
    height: $weui-uploader-border-width + 1;
  }
  &:active{
    border-color: $weui-uploader-active-border-color;
    &:before, &:after{
      background-color: $weui-uploader-active-border-color;
    }
  }
}
.weui-uploader__input{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  .setTapColor();
}
/**weui-uploader  End**/
