/**weui-switch Start**/

.weui-cell_switch{
  padding-top: ($weui-cell-height - $weui-switch-height) / 2;
  padding-bottom: ($weui-cell-height - $weui-switch-height) / 2;
}
.weui-switch{
  appearance: none;
}
.weui-switch,
.weui-switch-cp-box{
  position: relative;
  width: 52px;
  height: $weui-switch-height;
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #DFDFDF;
  transition: background-color .1s, border .1s;

  &:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: $weui-switch-height - 2;
    border-radius: 15px;
    background-color: #FDFDFD;
    transition:transform .35s cubic-bezier(0.45, 1, 0.4, 1);
  }
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: $weui-switch-height - 2;
    height: $weui-switch-height - 2;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition:transform .35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  }
}
.weui-switch:checked,
.weui-switch-cp-input:checked ~ .weui-switch-cp-box{
  border-color: #04BE02;
  background-color: #04BE02;
  &:before {
    transform: scale(0);
  }
  &:after {
    transform: translateX(20px);
  }
}

// 兼容IE Edge的版本
.weui-switch-cp-input{
  position: absolute;
  left: -9999px;
}
.weui-switch-cp-box{
  display: block;
}
/**weui-switch  End**/
