/**weui-select-before Start**/
.weui-select-before {
  padding-right: $weui-cell-gap-h;
  .weui-select {
    width:$weui-cell-label-width;
    box-sizing: border-box;
  }
  .weui-cell-hd {
    position:relative;
    &:after {
      @include set-right-line($weui-cell-border-color);
    }
    &:before{
      content: " ";
      @include set-arrow-wrap(right, 6px, #C8C8CD, 2px);

      position: absolute;
      top: 50%;
      right: $weui-cell-gap-h;
      margin-top: -3px;
    }
  }
  .weui-cell-bd {
    padding-left:$weui-cell-gap-h;
    &:after{
      display:none;
    }
  }
}
/**weui-select-before  End**/
