/**set-arrow Start**/
@mixin set-arrow($direction,$size,$border-color,$border-width) {
  position: relative;
  display: inline-block;
  height: $size;
  width: $size;
  border-width: $border-width $border-width 0 0;
  border-color: $border-color;
  border-style: solid;

  @if ($direction == top) {
    // rotate(-45deg)
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  } @else if ($direction==right) {
    // rotate(45deg);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    top: -2px;
  } @else if ($direction==bottom) {
    // rotate(135deg);
    transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
    top: -3px;
  } @else if ($direction==left) {
    // rotate(-135deg);
    transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
    top: -2px;
  }
}

/**set-arrow  End**/
