/**set-checked Start**/
@mixin set-checked($color:#FFFFFF) {
  display: inline-block;
  content: '';
  width: 4px;
  height: 8px;
  border-bottom: 2px solid $color;
  border-right: 2px solid $color;
  transform: translate(0, 0) rotate(45deg);
}
@mixin set-checked-abs($color:#FFFFFF) {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 4px;
  height: 8px;
  border-bottom: 2px solid $color;
  border-right: 2px solid $color;
  transform: translate(-50%, -65%) rotate(45deg);
}
/**set-checked  End**/
