/**weui-button Start**/

button, input {
  &.weui-btn {
    width: 100%;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    &:focus {
      outline: 0;
    }
  }
  &.weui-btn_inline,&.weui-btn_mini {
    width: auto;
  }
  &.weui-btn_plain-primary,&.weui-btn_plain-default{
    border-width: 1px;
    background-color: transparent;
  }
}

.weui-btn_mini {
  display: inline-block;
  padding: 0 1.32em;
  line-height: $weui-btn-mini-height;
  font-size: $weui-btn-mini-font-size;
}

/*gap between btn*/
.weui-btn + .weui-btn {
  margin-top: $weui-btn-default-gap;
}

.weui-btn.weui-btn_inline + .weui-btn.weui-btn_inline {
  margin-top: auto;
  margin-left: $weui-btn-default-gap;
}

.weui-btn-area {
  margin: $weui-cells-margin-top $weui-btn-default-gap .3em;
}

.weui-btn-area_inline {
  display: flex;
  .weui-btn {
    margin-top: auto;
    margin-right: $weui-btn-default-gap;
    width: 100%;
    flex: 1;
    &:last-child {
      margin-right: 0;
    }
  }
}

/**weui-button  End**/
