/**weui-btn-loading Start**/
.weui-btn_loading {
  .weui-loading {
    margin: -.2em .34em 0 0;
  }
  &.weui-btn_primary, &.weui-btn_warn {
    color: $weui-btn-active-font-color;
  }
  &.weui-btn_primary {
    background-color: $weui-btn-primary-active-bg;
  }
  &.weui-btn_warn {
    background-color: $weui-btn-warn-active-bg;
  }
}

/**weui-btn-loading  End**/
