/**weui-btn-disabled Start**/
.weui-btn_disabled {
  color: $weui-btn-disabled-font-color;
  &.weui-btn_default {
    color: $weui-btn-default-disabled-font-color;
    background-color: $weui-btn-default-disabled-bg;
  }
  &.weui-btn_primary {
    background-color: $weui-btn-primary-disabled-bg;
  }
  &.weui-btn_warn {
    background-color: $weui-btn-warn-disabled-bg;
  }
}
/**weui-btn-disabled  End**/
