/**weui-btn-plain Start**/

.weui-btn_plain-primary {
  color: $weui-btn-plain-primary-color;
  border: 1px solid $weui-btn-plain-primary-border-color;
  &:not(.weui-btn_plain-disabled):active {
    color: $weui-btn-plain-primary-active-color;
    border-color: $weui-btn-plain-primary-active-border-color;
  }
  &:after {
    border-width: 0;
  }
}

.weui-btn_plain-default {
  color: $weui-btn-plain-default-color;
  border: 1px solid $weui-btn-plain-default-border-color;
  &:not(.weui-btn_plain-disabled):active {
    color: $weui-btn-plain-default-active-color;
    border-color: $weui-btn-plain-default-active-border-color;
  }
  &:after {
    border-width: 0;
  }
}

.weui-btn_plain-disabled {
  color: rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, .2);
}

/**weui-btn-plain  End**/
